@import "tailwindcss";

:root {
  --background: #111827;
  --foreground: #f3f4f6;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: #111827;
  color: #f3f4f6;
  font-family: Arial, Helvetica, sans-serif;
}

.dark body {
  background: #111827;
  color: #f3f4f6;
}

/* Hide header in print */
@media print {
  header {
    display: none !important;
  }
}
